In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('MLS_Data.csv', sep=',')
df.head()

,Progress,Duration,Q_RecaptchaScore,Follow_Sports,Follow_Sports_Others,Special_Events,Freind_Family_Invitation,Famous_Player,Storyline_Rivalry,Halftime_Entertainment_Or_Shows,...,Other_online_livestream_plan_Others_Price,Age,Gender,Ethnicity,Ethnicity_Other,Employment_Status,Employment_Status_Other,Annual_Household_Income,Additional_Comments,Follow_Sports_Dummy
0,100,69,0.9,No,NaN,Somewhat Unlikely,Somewhat Likely,Somewhat Unlikely,Somewhat Unlikely,Somewhat Likely,...,NaN,25-34,Female,White or Caucasian,NaN,Employed part-time,NaN,"$25,000 - $49,999",NaN,0
1,100,58,0.9,No,NaN,Somewhat Likely,Somewhat Unlikely,Very Unlikely,Very Unlikely,Somewhat Likely,...,NaN,18-24,Male,White or Caucasian,NaN,Employed full-time,NaN,"$75,000 - $99,999",NaN,0
2,100,91,0.9,"Baseball,Ice Hockey,Soccer",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25-34,Male,White or Caucasian,NaN,Employed full-time,NaN,"$100,000 - $149,999",NaN,1
3,100,121,0.9,"Basketball,Ice Hockey",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35-44,Male,White or Caucasian,NaN,Employed full-time,NaN,"$150,000 or more",NaN,1
4,100,147,0.9,No,NaN,Somewhat Likely,Very Likely,Somewhat Unlikely,Somewhat Unlikely,Neutral,...,NaN,35-44,Female,White or Caucasian,NaN,Employed part-time,NaN,"$150,000 or more",NaN,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 70 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Progress                                                169 non-null    int64
 1   Duration                                                169 non-null    int64
 2   Q_RecaptchaScore                                        168 non-null    float64
 3   Follow_Sports                                           169 non-null    object
 4   Follow_Sports_Others                                    44 non-null     object
 5   Special_Events                                          37 non-null     object
 6   Freind_Family_Invitation                                37 non-null     object
 7   Famous_Player                                           37 non-null     object
 8   Storyline_Rivalry                                       37 non-null     object
 9   Halftime_Entertainment_Or_Shows                         37 non-null     object
 10  Lack_of_Interest_in_Sports                              37 non-null     object
 11  Time_Consuming                                          37 non-null     object
 12  Rules_Complicated                                       37 non-null     object
 13  No_Introduces                                           37 non-null     object
 14  Matches_Excitement                                      132 non-null    object
 15  Supporting_Favorite_Team                                132 non-null    object
 16  Specific_Players                                        132 non-null    object
 17  Community_Camaraderie                                   132 non-null    object
 18  Sports_Related_Content_n_News_Engagement                132 non-null    object
 19  Info_about_MLS                                          132 non-null    object
 20  Info_about_MLS_Others                                   2 non-null      object
 21  Follow_MLS_or_not                                       132 non-null    object
 22  Follow_MLS_Since                                        66 non-null     float64
 23  Why_Follow_MLS                                          66 non-null     object
 24  MLS_Fan_Time                                            66 non-null     object
 25  Favorite_MLS_team_ and_why                              49 non-null     object
 26  Favorite_Players                                        31 non-null     object
 27  Watch_MLS games                                         66 non-null     object
 28  Watch_MLS games_Others                                  1 non-null      object
 29  MLS_Ticket_Plan                                         15 non-null     object
 30  MLS_Season_Ticket_Price                                 1 non-null      float64
 31  MLS_Monthly_Ticket_Price                                1 non-null      float64
 32  MLS_Single_Game_Ticket_Price                            8 non-null      float64
 33  MLS_Ticket_Plan_Others                                  2 non-null      object
 34  MLS_online_livestream_plan                              31 non-null     object
 35  MLS_online_livestream_Season_Payment_Price              11 non-null     object
 36  MLS_online_livestream_Monthly_Payment_Price             11 non-null     object
 37  MLS_online_livestream_Single_Game_Payment_Price         5 non-null      float64
 38  MLS_online_livestream_plan_Other_Price                  9 non-null      object
 39  MLS_Improvements                                        66 non-null     object
 40  MLS_Improvements.1                                      2 non-null      object
 41  No_MLS_Lack_of_interest_in _sports                      103 non-null    object
 42  No_MLS_Unfamiliar_with_rules_of_soccer                  103 non-null    object
 43  No_MLS_have_other_preferred _sports                     103 non-null    object
 44  No_MLS_have_other_preferred _sports_name                37 non-null     object
 45  Potential_Reason_to_MLS                                 103 non-null    object
 46  Potential_Reason_to_MLS_Others                          19 non-null     object
 47  Watch_Other_Pro_Sports                                  169 non-null    object
 48  Other_Watch_Other_Pro_Sports                            12 non-null     object
 49  How_Watch_Other_Pro_Sports                              134 non-null    object
 50  Other_How_Watch_Other_Pro_Sports                        2 non-null      object
 51  Other_Ticket_Plan                                       36 non-null     object
 52  Other_Ticket_Plan_Season_Ticket_Price                   4 non-null      float64
 53  Other_Ticket_Plan_Monthly_Ticke_Price                   0 non-null      float64
 54  Other_Ticket_Plan_Single_Game_Ticket_Price              28 non-null     object
 55  Other_Ticket_Plan_Others                                1 non-null      object
 56  Other_online_livestream_plan                            60 non-null     object
 57  Other_online_livestream_plan_Season_Payment_Price       22 non-null     object
 58  Other_online_livestream_plan_Montly_Payment_Price       21 non-null     object
 59  Other_online_livestream_plan_Single_Game_Payment_Price  9 non-null      object
 60  Other_online_livestream_plan_Others_Price               20 non-null     object
 61  Age                                                     169 non-null    object
 62  Gender                                                  169 non-null    object
 63  Ethnicity                                               169 non-null    object
 64  Ethnicity_Other                                         4 non-null      object
 65  Employment_Status                                       169 non-null    object
 66  Employment_Status_Other                                 8 non-null      object
 67  Annual_Household_Income                                 169 non-null    object
 68  Additional_Comments                                     17 non-null     object
 69  Follow_Sports_Dummy                                     169 non-null    int64
dtypes: float64(8), int64(3), object(59)
memory usage: 92.6+ KB

In [4]:
# group by followed sports
df_Follow_Sports = df['Follow_Sports'].str.lower().str.split(',').explode()
df_Follow_Sports = df_Follow_Sports.str.strip().replace('others(please specify', 'others')
df_Follow_Sports = df_Follow_Sports.str.strip().replace('and the answer can be more than one sport)', pd.NA).dropna()
df_Follow_Sports_counts = df_Follow_Sports.value_counts()

print(df_Follow_Sports_counts)
print(df_Follow_Sports_counts/137)

soccer        63
basketball    62
baseball      55
others        44
no            37
ice hockey    27
tennis        19
golf          10
Name: Follow_Sports, dtype: int64
soccer        0.459854
basketball    0.452555
baseball      0.401460
others        0.321168
no            0.270073
ice hockey    0.197080
tennis        0.138686
golf          0.072993
Name: Follow_Sports, dtype: float64

In [5]:
# other followed sports
df_Follow_Sports_Others = df.loc[:,"Follow_Sports_Others"].str.lower().str.split(', ')
df_Follow_Sports_Others = df_Follow_Sports_Others.dropna()

#football-related
df_Follow_Sports_Others = df_Follow_Sports_Others.apply(lambda x: [y if 'football' not in y else 'football' for y in x])
df_Follow_Sports_Others = df_Follow_Sports_Others.apply(lambda x: [y if 'nfl' not in y else 'football' for y in x])

#f1 = formula 1
df_Follow_Sports_Others = df_Follow_Sports_Others.apply(lambda x: [y.replace('f1', 'formula 1') for y in x])


df_Follow_Sports_Others_counts = df_Follow_Sports_Others.explode().value_counts()
print(df_Follow_Sports_Others_counts)

football          37
gymnastics         3
boxing             2
formula 1          2
ufc                2
curling            1
sailing            1
alpine skiing      1
volleyball         1
mma                1
skateboarding      1
equestrain         1
swimming           1
snowboarding       1
figure skating     1
Name: Follow_Sports_Others, dtype: int64

In [7]:
#intervals
#level
level = {
    'Very Likely': 5, 'Very Challenging': 5, 'Very Exciting': 5, 'Extremely Significant': 5,
    'Somewhat Likely': 4, 'Somewhat Challenging': 4, 'Somewhat Challenge': 4, 'Somewhat Exciting': 4, 'Somewhat Significant': 4,
    'Neutral': 3,
    'Somewhat Unlikely': 2, 'Slightly Challenging': 2, 'Slightly Exciting': 2, 'Slightly Significant': 2,
    'Slightly Significiant': 2,
    'Very Unlikely': 1, 'Not Challenging at all': 1, 'Not Exciting at all': 1, 'Not Significant at all': 1,
    'Not significant at all': 1
}
df.iloc[ : , 5:19 ] = df.iloc[:, 5:19].replace(level)
df.iloc[ : , 41:44 ] = df.iloc[:, 41:44].replace(level)


#age
Age = {'18-24': 1, '25-34': 2, '35-44': 3, '45-54': 4, '55-64': 5, '65 or over': 6 }
df.iloc[ : , 61 ] = df.iloc[:, 61].replace(Age)

#Annual_Household_Income
Annual_Household_Income = {
    'Under $25,000': 1, '$25,000 - $49,999': 2, '$50,000 - $74,999': 3,
    '$75,000 - $99,999': 4, '$100,000 - $149,999': 5, '$150,000 or more': 6,
    'Prefer not to say': None
}
df.iloc[ : , 67 ] = df.iloc[:, 67].replace(Annual_Household_Income)

mean_income = df['Annual_Household_Income'].mean()
df['Annual_Household_Income'].fillna(mean_income, inplace=True)

#MLS fan time 
MLS_fan_time = {
    'Less than a year': 1,
    '1-5 years': 2,
    '6-10 years': 3,
    'More than 10 years': 4,
    'Since its inception': 1
}
df.iloc[ : , 24:25 ] = df.iloc[:, 24:25].replace(MLS_fan_time)

In [9]:
#easy dummy
#gender
Gender = { "Male":1, "Female":0 }
df.iloc[ : , 62 ] = df.iloc[:, 62].replace(Gender)

#Follow_MLS_or_not
Follow_MLS = { "Yes":1, "No":0 }
df.iloc[ : , 21:22 ] = df.iloc[:, 21:22].replace(Follow_MLS)
df['Follow_MLS_or_not'].fillna(0, inplace=True)

In [36]:
#sport dummy
# Lowercase all the sports for consistency
#df['Follow_Sports'] = df['Follow_Sports'].str.lower().str.replace('no', '', regex=False)
#df['Follow_Sports_Others'] = df['Follow_Sports_Others'].str.lower().str.replace('no', '', regex=False)

# Combine both sports columns into one for easier processing
#df['All_Sports'] = df['Follow_Sports'].str.cat(df['Follow_Sports_Others'], sep=',', na_rep='')

# football-related
#def clean_and_unify_football_f1(sports_string):
#    sports_list = sports_string.split(',')
#    sports_list = [sport.strip() for sport in sports_list if sport.strip() != '']
#    sports_list = ['football' if 'football' in sport or 'nfl' in sport else sport for sport in sports_list]
#    sports_list = [sport.replace('f1', 'formula 1') for sport in sports_list]
#    return sports_list

#df['All_Sports'] = df['All_Sports'].apply(clean_and_unify_football_f1)

# Now we explode the lists into rows to use pd.get_dummies
#all_sports_exploded = df['All_Sports'].explode()
#sports_dummies = pd.get_dummies(all_sports_exploded)
# Group by the index and sum to avoid duplicating 1's for the same respondent
#sports_dummies = sports_dummies.groupby(sports_dummies.index).sum()
# only have 0's or 1's
#sports_dummies = sports_dummies.clip(upper=1)


#df_final = df.join(sports_dummies)
#df_final = df_final.drop(['others(please specify', 'and the answer can be more than one sport)'], axis=1)

,Progress,Duration,Q_RecaptchaScore,Follow_Sports,Follow_Sports_Others,Special_Events,Freind_Family_Invitation,Famous_Player,Storyline_Rivalry,Halftime_Entertainment_Or_Shows,...,ice hockey,mma,sailing,skateboarding,soccer,swboarding,swimming,tennis,ufc,volleyball
0,100,69,0.9,,NaN,2.0,4.0,2.0,2.0,4.0,...,0,0,0,0,0,0,0,0,0,0
1,100,58,0.9,,NaN,4.0,2.0,1.0,1.0,4.0,...,0,0,0,0,0,0,0,0,0,0
2,100,91,0.9,"baseball,ice hockey,soccer",NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,1,0,0,0,0,0
3,100,121,0.9,"basketball,ice hockey",NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
4,100,147,0.9,,NaN,4.0,5.0,2.0,2.0,3.0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# info about mls dummy
# Lowercase all the sports for consistency
df['Info_about_MLS'] = df['Info_about_MLS'].str.lower().str.split(',').replace('no', '', regex=False)
df['Info_about_MLS'] = df['Info_about_MLS'].str.strip().replace('others(please specify', 'others')
df['Info_about_MLS'] = df['Info_about_MLS'].str.strip().replace('and the answer can be more than one sport)', pd.NA).dropna()
df['All_Sports'] = df['Follow_Sports'].str.cat(df['Follow_Sports_Others'], sep=',', na_rep='')

# Now we explode the lists into rows to use pd.get_dummies
info = df['Info_about_MLS'].explode()
info_dummies = pd.get_dummies(info)
# Group by the index and sum to avoid duplicating 1's for the same respondent
info_dummies = info_dummies.groupby(info_dummies.index).sum()
# only have 0's or 1's
info_dummies = info_dummies.clip(upper=1)


df_final = df.join(info_dummies)


#Watch_MLS games
#How_Watch_Other_Pro_Sports
df['Watch_MLS games'] = df['Watch_MLS games'].str.lower().str.split(',').replace('no', '', regex=False)
df['How_Watch_Other_Pro_Sports'] = df['How_Watch_Other_Pro_Sports'].str.lower().str.split(',').replace('no', '', regex=False)

# Combine both sports columns into one for easier processing
df['All_Watching_Source'] = df['Watch_MLS games'].str.cat(df['How_Watch_Other_Pro_Sports'], sep=',', na_rep='')

all_source = df['All_Watching_Source'].explode()
source_dummies = pd.get_dummies(all_source)
# Group by the index and sum to avoid duplicating 1's for the same respondent
source_dummies = source_dummies.groupby(source_dummies.index).sum()
# only have 0's or 1's
source_dummies = source_dummies.clip(upper=1)


df_final = df.join(source_dummies)

AttributeError: Can only use .str accessor with string values!

In [14]:
df_final.to_csv('MLS_Data_Interval_2.csv', index=False)